# Dependencies
node_modules/
package-lock.json
yarn.lock

# Production build
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and OS specific
.DS_Store
.vscode/
.idea/
*.swp

# Test coverage
coverage/

# Temporary files
*.tmp
*.swp

# Misc
.cache/
.sass-cache/
.parcel-cache/
*.log
