# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Project-specific
dist/
build/
temp/
tmp/
cache/

# IDE and OS specific
.DS_Store
.vscode/
.idea/
*.swp

# Coverage directory used by tools like istanbul
coverage/

# Misc
*.bak
*.log
*.tmp
